language: python
python:
  - "3.9"
before_install:
  - python -m pip install --upgrade pip
install:
  - pip install 'ansible==4.0.0'
  - pip install 'ansible-lint==5.0.9'
  - ansible-lint --version
script:
  - ansible-lint playbook.yml
  - ansible-lint tasks/partition_resize.yml