---
- hosts: all
  become: yes

  pre_tasks:
    - name: Make sure the Docker partition has at least 40GiB
      include: tasks/partition_resize.yml

  roles:
    - name: Install docker
      role: geerlingguy.docker